{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div>
            <h1>
                Virtual Arbitrage (form not connected to logic)
            </h1>
        </div>
        <div class="row">
            <div class="col-md-4">
                <form method="post">
                    {% csrf_token %}
                    {% load bootstrap4 %}
                    {% bootstrap_form form %}
                    <button class="btn btn-dark" type="submit">Find arbitrage</button>
                </form>
            </div>
        </div>
        <br>
        {% if show_result %}
            <div class="row">
                <h3>Arbitrage result:</h3>
                <div class="results">

                </div>
            </div>
        {% endif %}
    </div>
    {{ form.media }}
{% endblock %}
