{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div>
            <h1>
                Virtual Arbitrage
            </h1>
        </div>
        <div class="row">
            <div class="col-md-4">
                <form method="post">
                    {% csrf_token %}
                    {% load bootstrap4 %}
                    {% bootstrap_form form %}
                    <button class="btn btn-dark" type="submit">Find arbitrage</button>
                </form>
            </div>
        </div>
        <br>
        {% if show_result %}
            <div class="row">
                <h3>Arbitrage result:</h3>
            </div>
            <div>
                <div class="results">
                    <br>
                    {% if result %}
                        <h4>Time: {{ result.time }}</h4>
                        <h4>Started with: {{ result.start_value }}</h4>
                        <h4>Ended with: {{ result.value }}</h4>
                        <br>
                        <table class="results-table">
                            <tr>
                                <td >Starting currency</td>
                                <td></td>
                                <td class="text-background">{{ result.exchanges.0 }}</td>
                                <td></td>
                                <td class="text-background">{{ result.exchanges.1 }}</td>
                                <td></td>
                                <td class="text-background">{{ result.exchanges.2 }}</td>
                            </tr>
                            <tr class="above-arrow">
                                <td></td>
                                <td>{{ result.rates.0 }}</td>
                                <td></td>
                                <td>{{ result.rates.1 }}</td>
                                <td></td>
                                <td>{{ result.rates.2 }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="circle"><div class="text-circle">{{ result.start_currency }}</div></td>
                                <td class="arrow">&#8594;</td>
                                <td class="circle"><div class="text-circle">{{ result.currencies.0 }}</div></td>
                                <td class="arrow">&#8594;</td>
                                <td class="circle"><div class="text-circle">{{ result.currencies.1 }}</div></td>
                                <td class="arrow">&#8594;</td>
                                <td class="circle"><div class="text-circle">{{ result.currencies.2 }}</div></td>
                            </tr>
                        </table>
                    {% else %}
                        <h3>Could not find any profitable transaction</h3>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
    {{ form.media }}

    <script>
        $(function () {
            $('form').on('submit', function (e) {
                $('body').append('<div id="loading"></div>')
                Swal.fire({
                    title: 'Running arbitrage',
                    html: 'Loading data, it might take a while.',
                    allowOutsideClick: false,
                    onBeforeOpen: () => {
                        Swal.showLoading()
                    }
                })
            });

        })
    </script>
    <style>
        .results-table {
            font-size: 200%;
            text-align: center;
            margin-bottom: 5vh;
            width: 100%;
        }

        .text-background{
            background: linear-gradient(to bottom, #2bad4e 35%, #173306 100%);
        }

        .circle {
            background: linear-gradient(to bottom, #2bad4e 35%, #173306 100%);
            display: inline-block;
            min-height: 60px;
            min-width: 60px;
            border-radius: 50%;
            margin-top: 25px;
        }

        .text-circle {
            margin-top: 9px;
            text-align: center;
            font-size: 80%;
        }

        .above-arrow {
            font-size: 50%;
            height: 50px;
        }

        .arrow{
            font-size: 200%;
        }

    </style>
{% endblock %}
