{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
    <div class="container col-md-4 align-content-center">
        <h2>Login</h2>
        <div>
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button class="btn btn-success" type="submit">Login</button>
            </form>
        </div>
        <div>
            Don't have an account?
            <a href="{% url 'register' %}">Sign up now!</a>
        </div>
    </div>


{% endblock %}